*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Comfortaa', cursive;
}

.heading__1{
    font-family: 'Roboto Mono', monospace;
}

.heading__2{
    font-family: 'Roboto Mono', monospace;
}

.sub_heading{
    font-size: 2rem;
    margin-bottom: 60px;
}

.first__img{
    margin-bottom: 60px;
}

.firstrow {
    position: relative; 
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondrow{
    margin-top: 20px;
    margin-bottom: 60px;
}

h1 {
  margin-top: 20px;
  color: #d81b60;  
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
  
}

.thirdrow{
    margin-top: 60px;
    margin-bottom: 100px;
}

.img__3{
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    font-size: 1.2rem;
    font-weight: 600;
}

.firstrow h3{
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: black;
    
}
.heading_3{
    margin-bottom: 60px;
}

.heading__4{
    margin-bottom: 100px;
    margin-top: 60px;
}

.safety{
    margin-bottom: 40px;
}

.numbers{
    background-color: #d81b60;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    font-size: 2rem;
    color: white;
}

.numbers1{
    background-color: #d81b60;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    font-size: 2rem;
    color: white;
    margin-right: 20px;
}


span{
    color: #d81b60;
}

.shadow{
    background-color: aliceblue;
}

.shadow img{
    height: 55%;
    width: 100%;
}

@media only screen and (max-width: 991px) and (min-width:767px){
    .img__4{
        text-align: center;
    }
    .shadow img {
        height: 60%;
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) and (min-width:991px){
    .img__4{
        text-align: center;
    }
    .shadow img {
        height: 60%;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) and (min-width:376px){
    .firstrow h3{
        position: relative;
        text-align: center;
        font-size: 2rem;
        color: black !important;
    }
    h1 {
        position: relative;
        color: #d81b60;  
        font-size: 3.5rem;
        line-height: 0.9;
        text-align: center;
        font-weight: 500;
      }
      .container h3{
        font-size: 1.7rem;
        color: #4dd0e1;
        font-weight: 700;
    }
    p{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .col-11{
        padding-left: 3rem;
    }
    .shadow img {
        height: 65%;
        width: 100%;
    }
    .shadow{
        height:1600px;
        
    }
    .safety{
        margin-bottom: 0;
    }
    .firstrow {
        position: relative; 
        height: 20rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondrow{
        margin-top: 20px;
        margin-bottom: 60px;
    }
}
